@import url("https://fonts.googleapis.com/css?family=Montserrat");

html,
body {
    overflow-x: hidden;
}

* {
    margin: 0;
    font-family: "Montserrat";
    color: #333;

}


h1,
h2,
h3,
h4,
h5,
h6,
span {
    word-break: break-word;
    hyphens: auto;
}


.container {
    max-width: 1180px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding: 10px;

    @media (max-width: 767px) {
        max-width: 767px;
    }

}

/* Navbar */
nav.navbar {
    background-color: #171010;

    .navbar-section {
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: space-between;
        height: 70px;
        align-items: center;
        width: 100%;



        .links {
            display: flex;
            flex-direction: row;
            gap: 20px;

            a {
                text-decoration: none;
                font-weight: 500;
                font-size: 14px;
                color: white;

                &:hover {
                    color: #FF4848;
                }
            }
        }
    }
}

// Banner

.banner {
    background-color: #171010;
    height: 770px;
    justify-content: center;
    display: flex;
    position: relative;
    flex-direction: column;

    .container {
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;

        .banner-title {
            width: 100%;

            h1 {
                color: white;
                width: 70%;
                font-weight: 700;
                display: flex;
                align-items: center;
                font-size: 56px;
                letter-spacing: 0.56px;

                @media (max-width: 1024px) {
                    width: 100%;
                    font-size: 38px;
                }
            }


        }

        span {
            width: 100%;
            color: white;
            font-weight: 400;
        }
    }
}

// Email Marquee
.marquee-email {
    background-color: #171010;
    height: 100px;
    justify-content: center;
    display: flex;
    position: relative;
    flex-direction: column;


    .container {
        max-width: 100%;

        marquee.email {
            ul {
                list-style: none;
                display: flex;
                flex-direction: row;
                gap: 20px;

                li {
                    font-size: 56px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.56px;
                    display: flex;
                    gap: 20px;
                    color: white;
                }

                li::before {
                    content: "-";
                    color: #FF4848;
                }
            }
        }
    }
}

// Content
.content {
    .container {
        padding-top: 96px;
        padding-bottom: 96px;

        @media (max-width: 968px) {
            padding-bottom: 50px;
            padding-top: 50px;
        }


        .col-1 {
            display: flex;
            flex-direction: column;
            position: relative;
            gap: 24px;
            width: 100%;

            .portfolios {
                display: flex;
                flex-direction: column;
                gap: 12px;

                h2 {
                    font-size: 28px;
                }

                .portfolio-card {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 24px;

                    @media (max-width: 767px) {
                        display: flex;
                        flex-direction: column;
                    }

                    @media (max-width: 968px) {
                        grid-template-columns: repeat(2, 1fr) !important;
                    }

                    .portfolio-preview {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 20px;

                        h3 {
                            font-size: 18px;
                            color: #FF4848;
                            font-weight: 700;
                        }

                        p {
                            color: #303030;
                        }

                    }
                }
            }
        }
    }
}